<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="drill.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="title">UUID</label>
        <input
          type="text"
          class="form-control"
          id="uuid"
          required
          [(ngModel)]="drill.uuid"
          name="uuid"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control"
          id="message"
          required
          [(ngModel)]="drill.description"
          name="description"
        />
      </div>
      <button (click)="saveDrill()" class="btn btn-success">Submit</button>
    </div>
    <div *ngIf="submitted">
      <h4>Tutorial was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newDrill()">Add</button>
    </div>
  </div>
</div>

