<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Drills List</h4>
    <ul class="list-group">
      <li
        *ngFor="let drill of drills; let i = index"
        class="list-group-item"
        [class.active]="i == currentIndex"
        (click)="setActiveDrill(drill, i)">
        {{ drill.title }} / {{ drill.description }}
        <a href="/drills/{{ drill.id }}">Edit</a>
      </li>
    </ul>
    <a href="/drills/add">
      <button class="m-3 btn btn-sm btn-danger">
        Add New
      </button>
    </a>
  </div>
  <div class="col-md-6">
    <app-drill-details
      [viewMode]="true"
      [currentDrill]="currentDrill"
    ></app-drill-details>
  </div>
</div>
