<div *ngIf="viewMode; else editable">
  <div *ngIf="currentDrill.id">
    <h4>Drill</h4>
    <div>
      <label><strong>Title:</strong></label> {{ currentDrill.title }}
    </div>
    <div>
      <label><strong>Message:</strong></label>
      {{ currentDrill.description }}
    </div>
    <a
      class="badge badge-warning"
      routerLink="/drills/{{ currentDrill.id }}"
    >
      Edit
    </a>
  </div>
  <div *ngIf="!currentDrill">
    <br />
    <p>Please click on a Drill...</p>
  </div>
</div>
<ng-template #editable>
  <div *ngIf="currentDrill.id" class="edit-form">
    <h4>Drill</h4>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentDrill.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description">Message</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentDrill.description"
          name="description"
        />
      </div>
    </form>
    <button class="badge badge-danger mr-2" (click)="deleteDrill()">
      Delete
    </button>
    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateDrill()"
    >
      Update
    </button>
    <p>{{ description }}</p>
  </div>
  <div *ngIf="!currentDrill.id">
    <br />
    <p>Cannot access this Drill...</p>
  </div>
</ng-template>
