<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="inject.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="title">UUID</label>
        <input
          type="text"
          class="form-control"
          id="uuid"
          required
          [(ngModel)]="inject.uuid"
          name="uuid"
        />
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <input
          class="form-control"
          id="message"
          required
          [(ngModel)]="inject.message"
          name="message"
        />
      </div>
      <button (click)="saveInject()" class="btn btn-success">Submit</button>
    </div>
    <div *ngIf="submitted">
      <h4>Tutorial was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newInject()">Add</button>
    </div>
  </div>
</div>

