<div *ngIf="viewMode; else editable">
  <div *ngIf="currentInject.id">
    <h4>Inject</h4>
    <div>
      <label><strong>Title:</strong></label> {{ currentInject.title }}
    </div>
    <div>
      <label><strong>Message:</strong></label>
      {{ currentInject.message }}
    </div>
    <a
      class="badge badge-warning"
      routerLink="/injects/{{ currentInject.id }}"
    >
      Edit
    </a>
  </div>
  <div *ngIf="!currentInject">
    <br />
    <p>Please click on a Inject...</p>
  </div>
</div>
<ng-template #editable>
  <div *ngIf="currentInject.id" class="edit-form">
    <h4>Inject</h4>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentInject.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <input
          type="text"
          class="form-control"
          id="message"
          [(ngModel)]="currentInject.message"
          name="message"
        />
      </div>
    </form>
    <button class="badge badge-danger mr-2" (click)="deleteInject()">
      Delete
    </button>
    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateInject()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>
  <div *ngIf="!currentInject.id">
    <br />
    <p>Cannot access this Inject...</p>
  </div>
</ng-template>
