<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Injects List</h4>
    <ul class="list-group">
      <li
        *ngFor="let inject of injects; let i = index"
        class="list-group-item"
        [class.active]="i == currentIndex"
        (click)="setActiveInject(inject, i)">
        {{ inject.title }} / {{ inject.message }}
        <a href="/injects/{{ inject.id }}">Edit</a>
      </li>
    </ul>
    <a href="/injects/add">
      <button class="m-3 btn btn-sm btn-danger">
        Add New
      </button>
    </a>
  </div>
  <div class="col-md-6">
    <app-inject-details
      [viewMode]="true"
      [currentInject]="currentInject"
    ></app-inject-details>
  </div>
</div>
